<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lishao.trader.stock.dao.GpClassDimensionMapper" >
  <resultMap id="BaseResultMap" type="com.lishao.trader.stock.bean.entity.GpClassDimension" >
    <id column="DIMENSION_CODE" property="dimensionCode" jdbcType="VARCHAR" />
    <result column="DIMENSION_NAME" property="dimensionName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DELETED_FLAG" property="deletedFlag" jdbcType="CHAR" />
    <result column="ORIGIN_CODE" property="originCode" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPD_DATE" property="lastUpdDate" jdbcType="TIMESTAMP" />
    <result column="MODIFICATION_NUM" property="modificationNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    DIMENSION_CODE, DIMENSION_NAME, REMARK, DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, 
    LAST_UPD_DATE, MODIFICATION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GP_CLASS_DIMENSION
    where DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GP_CLASS_DIMENSION
    where DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lishao.trader.stock.bean.entity.GpClassDimension" >
    insert into GP_CLASS_DIMENSION (DIMENSION_CODE, DIMENSION_NAME, REMARK, 
      DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, 
      LAST_UPD_DATE, MODIFICATION_NUM)
    values (#{dimensionCode,jdbcType=VARCHAR}, #{dimensionName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{deletedFlag,jdbcType=CHAR}, #{originCode,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdDate,jdbcType=TIMESTAMP}, #{modificationNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lishao.trader.stock.bean.entity.GpClassDimension" >
    insert into GP_CLASS_DIMENSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dimensionCode != null" >
        DIMENSION_CODE,
      </if>
      <if test="dimensionName != null" >
        DIMENSION_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG,
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE,
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dimensionCode != null" >
        #{dimensionCode,jdbcType=VARCHAR},
      </if>
      <if test="dimensionName != null" >
        #{dimensionName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lishao.trader.stock.bean.entity.GpClassDimension" >
    update GP_CLASS_DIMENSION
    <set >
      <if test="dimensionName != null" >
        DIMENSION_NAME = #{dimensionName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL},
      </if>
    </set>
    where DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lishao.trader.stock.bean.entity.GpClassDimension" >
    update GP_CLASS_DIMENSION
    set DIMENSION_NAME = #{dimensionName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL}
    where DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR}
  </update>
</mapper>