<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lishao.trader.stock.dao.GpStockClassMapMapper" >
  <resultMap id="BaseResultMap" type="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    <id column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR" />
    <id column="CLASSIFY_CODE" property="classifyCode" jdbcType="VARCHAR" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="INCLU_DATE" property="incluDate" jdbcType="DATE" />
    <result column="DELETED_FLAG" property="deletedFlag" jdbcType="CHAR" />
    <result column="ORIGIN_CODE" property="originCode" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPD_DATE" property="lastUpdDate" jdbcType="TIMESTAMP" />
    <result column="MODIFICATION_NUM" property="modificationNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    STOCK_CODE, CLASSIFY_CODE, WEIGHT, INCLU_DATE, DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, LAST_UPD_DATE, 
    MODIFICATION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMapKey" >
    select 
    <include refid="Base_Column_List" />
    from GP_STOCK_CLASS_MAP
    where STOCK_CODE = #{stockCode,jdbcType=VARCHAR}
      and CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByClassifyCode" resultMap="BaseResultMap" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMapKey" >
    select 
    <include refid="Base_Column_List" />
    from GP_STOCK_CLASS_MAP
    where DELETED_FLAG='0' and CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMapKey" >
    delete from GP_STOCK_CLASS_MAP
    where STOCK_CODE = #{stockCode,jdbcType=VARCHAR}
      and CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    insert into GP_STOCK_CLASS_MAP (STOCK_CODE, CLASSIFY_CODE, WEIGHT, INCLU_DATE,
      DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, 
      LAST_UPD_DATE, MODIFICATION_NUM)
    values (#{stockCode,jdbcType=VARCHAR}, #{classifyCode,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{incluDate,jdbcType=DATE},
      #{deletedFlag,jdbcType=CHAR}, #{originCode,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdDate,jdbcType=TIMESTAMP}, #{modificationNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    insert into GP_STOCK_CLASS_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockCode != null" >
        STOCK_CODE,
      </if>
      <if test="classifyCode != null" >
        CLASSIFY_CODE,
      </if>
      <if test="weight != null" >
        WEIGHT,
      </if>
      <if test="incluDate != null" >
        INCLU_DATE,
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG,
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE,
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="classifyCode != null" >
        #{classifyCode,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="incluDate != null" >
        #{incluDate,jdbcType=DATE},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    update GP_STOCK_CLASS_MAP
    <set >
      <if test="weight != null" >
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="incluDate != null" >
        INCLU_DATE = #{incluDate,jdbcType=DATE},
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL},
      </if>
    </set>
    where STOCK_CODE = #{stockCode,jdbcType=VARCHAR}
      and CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    update GP_STOCK_CLASS_MAP
    set WEIGHT = #{weight,jdbcType=DECIMAL},
      INCLU_DATE = #{incluDate,jdbcType=DATE},
      DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL}
    where STOCK_CODE = #{stockCode,jdbcType=VARCHAR}
      and CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </update>
  <update id="deleteByClassifyCode" parameterType="com.lishao.trader.stock.bean.entity.GpStockClassMap" >
    update GP_STOCK_CLASS_MAP
    set DELETED_FLAG = '1',
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = MODIFICATION_NUM+1
    where CLASSIFY_CODE = #{classifyCode,jdbcType=VARCHAR}
  </update>
</mapper>