<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lishao.trader.stock.dao.GpStockMetadataMapper" >
  <resultMap id="BaseResultMap" type="com.lishao.trader.stock.bean.entity.GpStockMetadata" >
    <id column="STOCK_CODE_FULL" property="stockCodeFull" jdbcType="VARCHAR" />
    <result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR" />
    <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR" />
    <result column="LISTING_DATE" property="listingDate" jdbcType="DATE" />
    <result column="TOTAL_STOCK_NUM" property="totalStockNum" jdbcType="DECIMAL" />
    <result column="TRADABLE_STOCK_NUM" property="tradableStockNum" jdbcType="DECIMAL" />
    <result column="MARKET_VALUE" property="marketValue" jdbcType="DECIMAL" />
    <result column="TRADABLE_MARKET_VALUE" property="tradableMarketValue" jdbcType="DECIMAL" />
    <result column="LAST_UPD_KLINE_DATE" property="lastUpdKlineDate" jdbcType="TIMESTAMP" />
    <result column="DELETED_FLAG" property="deletedFlag" jdbcType="CHAR" />
    <result column="ORIGIN_CODE" property="originCode" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPD_DATE" property="lastUpdDate" jdbcType="TIMESTAMP" />
    <result column="MODIFICATION_NUM" property="modificationNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    STOCK_CODE_FULL, STOCK_CODE, STOCK_NAME,LISTING_DATE, TOTAL_STOCK_NUM, TRADABLE_STOCK_NUM, MARKET_VALUE, TRADABLE_MARKET_VALUE,
    LAST_UPD_KLINE_DATE, DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, LAST_UPD_DATE, MODIFICATION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GP_STOCK_METADATA
    where STOCK_CODE_FULL = #{stockCodeFull,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from GP_STOCK_METADATA
    where DELETED_FLAG='0'
    order by STOCK_CODE
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GP_STOCK_METADATA
    where STOCK_CODE_FULL = #{stockCodeFull,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lishao.trader.stock.bean.entity.GpStockMetadata" >
    insert into GP_STOCK_METADATA (STOCK_CODE_FULL, STOCK_CODE, STOCK_NAME, LISTING_DATE,
      TOTAL_STOCK_NUM, TRADABLE_STOCK_NUM, MARKET_VALUE, TRADABLE_MARKET_VALUE, 
      LAST_UPD_KLINE_DATE, DELETED_FLAG, ORIGIN_CODE, 
      CREATED_DATE, LAST_UPD_DATE, MODIFICATION_NUM
      )
    values (#{stockCodeFull,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, #{listingDate,jdbcType=DATE},
      #{totalStockNum,jdbcType=DECIMAL}, #{tradableStockNum,jdbcType=DECIMAL}, #{marketValue,jdbcType=DECIMAL}, #{tradableMarketValue,jdbcType=DECIMAL},
      #{lastUpdKlineDate,jdbcType=TIMESTAMP}, #{deletedFlag,jdbcType=CHAR}, #{originCode,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdDate,jdbcType=TIMESTAMP}, #{modificationNum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lishao.trader.stock.bean.entity.GpStockMetadata" >
    insert into GP_STOCK_METADATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockCodeFull != null" >
        STOCK_CODE_FULL,
      </if>
      <if test="stockCode != null" >
        STOCK_CODE,
      </if>
      <if test="stockName != null" >
        STOCK_NAME,
      </if>
      <if test="listingDate != null" >
        LISTING_DATE,
      </if>
      <if test="totalStockNum != null" >
        TOTAL_STOCK_NUM,
      </if>
      <if test="tradableStockNum != null" >
        TRADABLE_STOCK_NUM,
      </if>
      <if test="marketValue != null" >
        MARKET_VALUE,
      </if>
      <if test="tradableMarketValue != null" >
        TRADABLE_MARKET_VALUE,
      </if>
      <if test="lastUpdKlineDate != null" >
        LAST_UPD_KLINE_DATE,
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG,
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE,
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockCodeFull != null" >
        #{stockCodeFull,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="listingDate != null" >
        #{listingDate,jdbcType=DATE},
      </if>
      <if test="totalStockNum != null" >
        #{totalStockNum,jdbcType=DECIMAL},
      </if>
      <if test="tradableStockNum != null" >
        #{tradableStockNum,jdbcType=DECIMAL},
      </if>
      <if test="marketValue != null" >
        #{marketValue,jdbcType=DECIMAL},
      </if>
      <if test="tradableMarketValue != null" >
        #{tradableMarketValue,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdKlineDate != null" >
        #{lastUpdKlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lishao.trader.stock.bean.entity.GpStockMetadata" >
    update GP_STOCK_METADATA
    <set >
      <if test="stockCode != null" >
        STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        STOCK_NAME = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="listingDate != null" >
        LISTING_DATE = #{listingDate,jdbcType=DATE},
      </if>
      <if test="totalStockNum != null" >
        TOTAL_STOCK_NUM = #{totalStockNum,jdbcType=DECIMAL},
      </if>
      <if test="tradableStockNum != null" >
        TRADABLE_STOCK_NUM = #{tradableStockNum,jdbcType=DECIMAL},
      </if>
      <if test="marketValue != null" >
        MARKET_VALUE = #{marketValue,jdbcType=DECIMAL},
      </if>
      <if test="tradableMarketValue != null" >
        TRADABLE_MARKET_VALUE = #{marketValue,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdKlineDate != null" >
        LAST_UPD_KLINE_DATE = #{lastUpdKlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL},
      </if>
    </set>
    where STOCK_CODE_FULL = #{stockCodeFull,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lishao.trader.stock.bean.entity.GpStockMetadata" >
    update GP_STOCK_METADATA
    set STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      STOCK_NAME = #{stockName,jdbcType=VARCHAR},
      LISTING_DATE = #{listingDate,jdbcType=DATE},
      TOTAL_STOCK_NUM = #{totalStockNum,jdbcType=DECIMAL},
      TRADABLE_STOCK_NUM = #{tradableStockNum,jdbcType=DECIMAL},
      MARKET_VALUE = #{marketValue,jdbcType=DECIMAL},
      TRADABLE_MARKET_VALUE = #{tradableMarketValue,jdbcType=DECIMAL},
      LAST_UPD_KLINE_DATE = #{lastUpdKlineDate,jdbcType=TIMESTAMP},
      DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL}
    where STOCK_CODE_FULL = #{stockCodeFull,jdbcType=VARCHAR}
  </update>
</mapper>