<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lishao.trader.common.dao.TradeCalendarMapper" >
  <resultMap id="BaseResultMap" type="com.lishao.trader.common.bean.entity.TradeCalendar" >
    <id column="ROW_ID" property="rowId" jdbcType="VARCHAR" />
    <result column="MARKET_ID" property="marketId" jdbcType="VARCHAR" />
    <result column="TRADE_YEAR" property="tradeYear" jdbcType="VARCHAR" />
    <result column="TRADE_MONTH" property="tradeMonth" jdbcType="VARCHAR" />
    <result column="TRADE_WEEK" property="tradeWeek" jdbcType="VARCHAR" />
    <result column="TRADE_DATE" property="tradeDate" jdbcType="TIMESTAMP" />
    <result column="DELETED_FLAG" property="deletedFlag" jdbcType="CHAR" />
    <result column="ORIGIN_CODE" property="originCode" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPD_DATE" property="lastUpdDate" jdbcType="TIMESTAMP" />
    <result column="MODIFICATION_NUM" property="modificationNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROW_ID, MARKET_ID, TRADE_YEAR, TRADE_MONTH, TRADE_WEEK, TRADE_DATE, DELETED_FLAG, 
    ORIGIN_CODE, CREATED_DATE, LAST_UPD_DATE, MODIFICATION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TRADE_CALENDAR
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TRADE_CALENDAR
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lishao.trader.common.bean.entity.TradeCalendar" >
    insert into TRADE_CALENDAR (ROW_ID, MARKET_ID, TRADE_YEAR, 
      TRADE_MONTH, TRADE_WEEK, TRADE_DATE, 
      DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, 
      LAST_UPD_DATE, MODIFICATION_NUM)
    values (#{rowId,jdbcType=VARCHAR}, #{marketId,jdbcType=VARCHAR}, #{tradeYear,jdbcType=VARCHAR}, 
      #{tradeMonth,jdbcType=VARCHAR}, #{tradeWeek,jdbcType=VARCHAR}, #{tradeDate,jdbcType=TIMESTAMP}, 
      #{deletedFlag,jdbcType=CHAR}, #{originCode,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdDate,jdbcType=TIMESTAMP}, #{modificationNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lishao.trader.common.bean.entity.TradeCalendar" >
    insert into TRADE_CALENDAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        ROW_ID,
      </if>
      <if test="marketId != null" >
        MARKET_ID,
      </if>
      <if test="tradeYear != null" >
        TRADE_YEAR,
      </if>
      <if test="tradeMonth != null" >
        TRADE_MONTH,
      </if>
      <if test="tradeWeek != null" >
        TRADE_WEEK,
      </if>
      <if test="tradeDate != null" >
        TRADE_DATE,
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG,
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE,
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null" >
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="tradeYear != null" >
        #{tradeYear,jdbcType=VARCHAR},
      </if>
      <if test="tradeMonth != null" >
        #{tradeMonth,jdbcType=VARCHAR},
      </if>
      <if test="tradeWeek != null" >
        #{tradeWeek,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lishao.trader.common.bean.entity.TradeCalendar" >
    update TRADE_CALENDAR
    <set >
      <if test="marketId != null" >
        MARKET_ID = #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="tradeYear != null" >
        TRADE_YEAR = #{tradeYear,jdbcType=VARCHAR},
      </if>
      <if test="tradeMonth != null" >
        TRADE_MONTH = #{tradeMonth,jdbcType=VARCHAR},
      </if>
      <if test="tradeWeek != null" >
        TRADE_WEEK = #{tradeWeek,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        TRADE_DATE = #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL},
      </if>
    </set>
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lishao.trader.common.bean.entity.TradeCalendar" >
    update TRADE_CALENDAR
    set MARKET_ID = #{marketId,jdbcType=VARCHAR},
      TRADE_YEAR = #{tradeYear,jdbcType=VARCHAR},
      TRADE_MONTH = #{tradeMonth,jdbcType=VARCHAR},
      TRADE_WEEK = #{tradeWeek,jdbcType=VARCHAR},
      TRADE_DATE = #{tradeDate,jdbcType=TIMESTAMP},
      DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL}
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </update>
  <!-- 插入股票市场的日历，根据上证指数日线,上证指数日线有数据则插入一条记录 -->
  <insert id="insertCalendar" parameterType="Map" >
    insert into TRADE_CALENDAR (ROW_ID, MARKET_ID, TRADE_YEAR, 
      TRADE_MONTH, TRADE_WEEK, TRADE_DATE, 
      DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, 
      LAST_UPD_DATE, MODIFICATION_NUM)
    select SEQ_ROW_ID.NEXTVAL, #{marketId,jdbcType=VARCHAR}, 
      to_char(to_date(period_code,'yyyy-mm-dd'),'yyyy'), 
      to_char(to_date(period_code,'yyyy-mm-dd'),'mm'), 
      '', to_date(period_code,'yyyy-mm-dd'), 
      '0', 'I', sysdate, 
      sysdate, 0 
    from GP_CLASS_KLINE_D
    where CLASSIFY_CODE=#{classifyCode,jdbcType=VARCHAR} and DELETED_FLAG='0'
          and not exists(select row_id 
                         from TRADE_CALENDAR 
                         where TO_CHAR(TRADE_CALENDAR.TRADE_DATE,'yyyy-mm-dd')=GP_CLASS_KLINE_D.PERIOD_CODE)
  </insert>
</mapper>