<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lishao.trader.stock.dao.GpClassDimensionMapper" >
  <resultMap id="BaseResultMap" type="com.lishao.trader.stock.model.GpClassDimension" >
    <id column="ROW_ID" property="rowId" jdbcType="BIGINT" />
    <result column="DIMENSION_CODE" property="dimensionCode" jdbcType="VARCHAR" />
    <result column="DIMENSION_NAME" property="dimensionName" jdbcType="VARCHAR" />
    <result column="CLOSE_READ_CLASS" property="closeReadClass" jdbcType="VARCHAR" />
    <result column="OPEN_READ_CLASS" property="openReadClass" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DELETED_FLAG" property="deletedFlag" jdbcType="CHAR" />
    <result column="ORIGIN_CODE" property="originCode" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPD_DATE" property="lastUpdDate" jdbcType="TIMESTAMP" />
    <result column="MODIFICATION_NUM" property="modificationNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROW_ID, DIMENSION_CODE, DIMENSION_NAME, CLOSE_READ_CLASS, OPEN_READ_CLASS, REMARK, 
    DELETED_FLAG, ORIGIN_CODE, CREATED_DATE, LAST_UPD_DATE, MODIFICATION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gp_class_dimension
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </select>
  <select id="selectIdByMap" parameterType="java.util.Map" resultType="java.lang.Long">
    select a.row_id from gp_class_dimension a
	WHERE 1=1
	<if test="cm.deletedFlag != null and cm.deletedFlag != ''">
      AND a.deleted_flag = #{cm.deletedFlag}
	</if>
	<if test="cm.rowId != null and cm.rowId != ''">
      AND a.row_id = #{cm.rowId}
	</if>
	<if test="cm.dimensionCode != null and cm.dimensionCode != ''">
      AND a.dimension_code = #{cm.dimensionCode}
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gp_class_dimension
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.lishao.trader.stock.model.GpClassDimension" >
    insert into gp_class_dimension
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        ROW_ID,
      </if>
      <if test="dimensionCode != null" >
        DIMENSION_CODE,
      </if>
      <if test="dimensionName != null" >
        DIMENSION_NAME,
      </if>
      <if test="closeReadClass != null" >
        CLOSE_READ_CLASS,
      </if>
      <if test="openReadClass != null" >
        OPEN_READ_CLASS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG,
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE,
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=BIGINT},
      </if>
      <if test="dimensionCode != null" >
        #{dimensionCode,jdbcType=VARCHAR},
      </if>
      <if test="dimensionName != null" >
        #{dimensionName,jdbcType=VARCHAR},
      </if>
      <if test="closeReadClass != null" >
        #{closeReadClass,jdbcType=VARCHAR},
      </if>
      <if test="openReadClass != null" >
        #{openReadClass,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lishao.trader.stock.model.GpClassDimension" >
    update gp_class_dimension
    <set >
      <if test="dimensionCode != null" >
        DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR},
      </if>
      <if test="dimensionName != null" >
        DIMENSION_NAME = #{dimensionName,jdbcType=VARCHAR},
      </if>
      <if test="closeReadClass != null" >
        CLOSE_READ_CLASS = #{closeReadClass,jdbcType=VARCHAR},
      </if>
      <if test="openReadClass != null" >
        OPEN_READ_CLASS = #{openReadClass,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null" >
        DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      </if>
      <if test="originCode != null" >
        ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdDate != null" >
        LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationNum != null" >
        MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL},
      </if>
    </set>
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lishao.trader.stock.model.GpClassDimension" >
    update gp_class_dimension
    set DIMENSION_CODE = #{dimensionCode,jdbcType=VARCHAR},
      DIMENSION_NAME = #{dimensionName,jdbcType=VARCHAR},
      CLOSE_READ_CLASS = #{closeReadClass,jdbcType=VARCHAR},
      OPEN_READ_CLASS = #{openReadClass,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETED_FLAG = #{deletedFlag,jdbcType=CHAR},
      ORIGIN_CODE = #{originCode,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPD_DATE = #{lastUpdDate,jdbcType=TIMESTAMP},
      MODIFICATION_NUM = #{modificationNum,jdbcType=DECIMAL}
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>
</mapper>